body {
    color:rgb(255, 255, 255);
    background:rgb(67, 26, 102);
    margin: 0px;
    font-family: "Dela Gothic One", sans-serif;
    margin-bottom: 80px;
}

header {
    border-bottom: dashed 2px rgb(247, 233, 227);
    padding:20px;
    font-size:50px;
    color:rgb(255, 255, 255);
}

.chamada {
background: rgb(59, 92, 131);
padding-bottom: 80px;
padding-top: 80px;
display: flex;
justify-content: center;
}

.chamada-texto{
    margin-right: 5%;
}

h1{
    font-size: 55px;
}

p{
    font-size: 30px;
}


.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria {
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 0px;
}

.categoria-videos img{
 opacity: 0.5;
 height: 500px;
}

.categoria-videos img:hover{
    opacity: 1.0;
    border: 1px dashed rgb(215, 185, 171);
}

titulo{
    font-size: 27px;
}